# Progetto CHL

## Dataset Preprocessing

Inizialmente, il dataset era composto da diverse colonne: la prima contenente i geni espressi attraverso i simboli HUGO, la seconda gli identificatori univoci dei geni, e le colonne successive rappresentavano i livelli di espressione genica di ogni gene per ciascun paziente. 

A causa della presenza eccessiva di valori NaN nella prima colonna, abbiamo deciso di eliminarla e di utilizzare l'ID del gene come identificativo principale. Inoltre, abbiamo focalizzato la nostra analisi sull'espressione genetica di un singolo paziente, eliminando le colonne relative agli altri pazienti.

Inoltre sono state eliminate le righe che contenevano come espressione genetica il valore NaN.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

'''Dataset'''
thca = 'ds_thca.txt'
lusc = 'ds_lusc.txt'
skcm = 'ds_skcm.txt'
coadread = 'ds_coadread.txt'

'''Patient'''
thca_p = 'TCGA-4C-A93U-01'
lusc_p = 'TCGA-21-5787-01'
skcm_p = 'TCGA-D3-A1Q9-06'
coadread_p = 'TCGA-AA-A01P-01'

def processing_ds(ds):
    ds = pd.read_csv('../data/'+ds, sep='\t')
    ds = ds.drop(columns='Hugo_Symbol', axis=1)
    ds = ds.dropna()
    ds = ds.reset_index(drop=True)    
    ds = ds[:10] #per fare prove
    return ds

ds_thca = processing_ds(thca)
ds_lusc = processing_ds(lusc)
ds_skcm = processing_ds(skcm)
ds_coadread = processing_ds(coadread)

## Correlazione

Per ogni coppia di geni, Ã¨ stata calcolata la correlazione tra questi utilizzando la distanza Euclidea.

In [2]:
def correlation(ds, paziente):
    ds = ds[['Entrez_Gene_Id', paziente]]
    n = len(ds)

    correlation_results = []

    for i in range(0, n):
        gene1 = ds.Entrez_Gene_Id[i]
        val1 = ds.loc[i, paziente]
        
        for j in range(i+1, n):

            gene2 = ds.Entrez_Gene_Id[j]
            val2 = ds.loc[j, paziente]
        
            # Calculate the correlation between the gene expressions
            # Calculate the Euclidean distance between the gene expressions
            correlation = np.sqrt((val1 - val2)**2)
            
            # Add the result as a dictionary to the results list
            correlation_results.append({
                'gene_1': gene1,
                'gene_2': gene2,
                'correlation': correlation
            })

    df = pd.DataFrame(correlation_results)

    return df

In [3]:
correlation(ds_thca, thca_p)

       gene_1     gene_2  correlation
0   100130426  100133144       2.9835
1   100130426  100134869       0.2732
2   100130426      10357       3.9577
3   100130426      10431       2.7237
4   100130426     155060       5.1139
5   100130426      26823       3.3100
6   100130426     280660       2.4833
7   100130426     340602       2.9571
8   100130426     388795       3.5184
9   100133144  100134869       2.7103
10  100133144      10357       0.9742
11  100133144      10431       0.2598
12  100133144     155060       2.1304
13  100133144      26823       0.3265
14  100133144     280660       0.5002
15  100133144     340602       0.0264
16  100133144     388795       0.5349
17  100134869      10357       3.6845
18  100134869      10431       2.4505
19  100134869     155060       4.8407
20  100134869      26823       3.0368
21  100134869     280660       2.2101
22  100134869     340602       2.6839
23  100134869     388795       3.2452
24      10357      10431       1.2340
25      10357     155060       1.1562
26      10357      26823       0.6477
27      10357     280660       1.4744
28      10357     340602       1.0006
29      10357     388795       0.4393
30      10431     155060       2.3902
31      10431      26823       0.5863
32      10431     280660       0.2404
33      10431     340602       0.2334
34      10431     388795       0.7947
35     155060      26823       1.8039
36     155060     280660       2.6306
37     155060     340602       2.1568
38     155060     388795       1.5955
39      26823     280660       0.8267
40      26823     340602       0.3529
41      26823     388795       0.2084
42     280660     340602       0.4738
43     280660     388795       1.0351
44     340602     388795       0.5613

In [4]:
correlation(ds_lusc, lusc_p)

       gene_1     gene_2  correlation
0   100130426  100133144       2.5900
1   100130426  100134869       1.0999
2   100130426      10357       4.5094
3   100130426      10431       7.0017
4   100130426     155060       3.3741
5   100130426      26823       2.9163
6   100130426     280660       3.5711
7   100130426     340602       3.9031
8   100130426     388795       4.3600
9   100133144  100134869       1.4901
10  100133144      10357       1.9194
11  100133144      10431       4.4117
12  100133144     155060       0.7841
13  100133144      26823       0.3263
14  100133144     280660       0.9811
15  100133144     340602       1.3131
16  100133144     388795       1.7700
17  100134869      10357       3.4095
18  100134869      10431       5.9018
19  100134869     155060       2.2742
20  100134869      26823       1.8164
21  100134869     280660       2.4712
22  100134869     340602       2.8032
23  100134869     388795       3.2601
24      10357      10431       2.4923
25      10357     155060       1.1353
26      10357      26823       1.5931
27      10357     280660       0.9383
28      10357     340602       0.6063
29      10357     388795       0.1494
30      10431     155060       3.6276
31      10431      26823       4.0854
32      10431     280660       3.4306
33      10431     340602       3.0986
34      10431     388795       2.6417
35     155060      26823       0.4578
36     155060     280660       0.1970
37     155060     340602       0.5290
38     155060     388795       0.9859
39      26823     280660       0.6548
40      26823     340602       0.9868
41      26823     388795       1.4437
42     280660     340602       0.3320
43     280660     388795       0.7889
44     340602     388795       0.4569

In [5]:
correlation(ds_skcm, skcm_p)

       gene_1     gene_2  correlation
0   100130426  100133144       4.2592
1   100130426  100134869       3.0309
2   100130426      10357       6.0310
3   100130426      10431       5.5156
4   100130426     155060       3.0576
5   100130426      26823       4.7474
6   100130426     280660       5.5270
7   100130426     340602       8.1826
8   100130426     388795       5.1732
9   100133144  100134869       1.2283
10  100133144      10357       1.7718
11  100133144      10431       1.2564
12  100133144     155060       1.2016
13  100133144      26823       0.4882
14  100133144     280660       1.2678
15  100133144     340602       3.9234
16  100133144     388795       0.9140
17  100134869      10357       3.0001
18  100134869      10431       2.4847
19  100134869     155060       0.0267
20  100134869      26823       1.7165
21  100134869     280660       2.4961
22  100134869     340602       5.1517
23  100134869     388795       2.1423
24      10357      10431       0.5154
25      10357     155060       2.9734
26      10357      26823       1.2836
27      10357     280660       0.5040
28      10357     340602       2.1516
29      10357     388795       0.8578
30      10431     155060       2.4580
31      10431      26823       0.7682
32      10431     280660       0.0114
33      10431     340602       2.6670
34      10431     388795       0.3424
35     155060      26823       1.6898
36     155060     280660       2.4694
37     155060     340602       5.1250
38     155060     388795       2.1156
39      26823     280660       0.7796
40      26823     340602       3.4352
41      26823     388795       0.4258
42     280660     340602       2.6556
43     280660     388795       0.3538
44     340602     388795       3.0094

In [6]:
correlation(ds_coadread, coadread_p)

       gene_1     gene_2  correlation
0   100133144  100134869       0.9104
1   100133144      10357       1.1899
2   100133144      10431       1.6573
3   100133144     155060       0.1955
4   100133144     388795       0.2443
5   100133144     390284       0.9356
6   100133144      57714       2.3966
7   100133144     645851       0.6281
8   100133144     653553       0.6660
9   100134869      10357       0.2795
10  100134869      10431       0.7469
11  100134869     155060       0.7149
12  100134869     388795       0.6661
13  100134869     390284       0.0252
14  100134869      57714       1.4862
15  100134869     645851       0.2823
16  100134869     653553       0.2444
17      10357      10431       0.4674
18      10357     155060       0.9944
19      10357     388795       0.9456
20      10357     390284       0.2543
21      10357      57714       1.2067
22      10357     645851       0.5618
23      10357     653553       0.5239
24      10431     155060       1.4618
25      10431     388795       1.4130
26      10431     390284       0.7217
27      10431      57714       0.7393
28      10431     645851       1.0292
29      10431     653553       0.9913
30     155060     388795       0.0488
31     155060     390284       0.7401
32     155060      57714       2.2011
33     155060     645851       0.4326
34     155060     653553       0.4705
35     388795     390284       0.6913
36     388795      57714       2.1523
37     388795     645851       0.3838
38     388795     653553       0.4217
39     390284      57714       1.4610
40     390284     645851       0.3075
41     390284     653553       0.2696
42      57714     645851       1.7685
43      57714     653553       1.7306
44     645851     653553       0.0379