# Progetto CHL

## Dataset Preprocessing

Inizialmente, il dataset era composto da diverse colonne: la prima contenente i geni espressi attraverso i simboli HUGO, la seconda gli identificatori univoci dei geni, e le colonne successive rappresentavano i livelli di espressione genica di ogni gene per ciascun paziente. 

A causa della presenza eccessiva di valori NaN nella prima colonna, abbiamo deciso di eliminarla e di utilizzare l'ID del gene come identificativo principale. Inoltre, abbiamo focalizzato la nostra analisi sull'espressione genetica di un singolo paziente, eliminando le colonne relative agli altri pazienti.

Inoltre sono state eliminate le righe che contenevano come espressione genetica il valore NaN.

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

# URL completi dei file nel repository GitHub
thca_url = 'https://raw.githubusercontent.com/alesmk/CHL/main/data/ds_thca.txt'
lusc_url = 'https://raw.githubusercontent.com/alesmk/CHL/main/data/ds_lusc.txt'
skcm_url = 'https://raw.githubusercontent.com/alesmk/CHL/main/data/ds_skcm.txt'
coadread_url = 'https://raw.githubusercontent.com/alesmk/CHL/main/data/ds_coadread.txt'

def processing_ds(ds_url):
    ds = pd.read_csv(ds_url, sep='\t')
    ds = ds.drop(columns='Hugo_Symbol', axis=1)
    ds = ds.dropna()
    ds = ds.reset_index(drop=True)
    ds1 = ds[:10000]  # per fare prove
    ds2 = ds[10001:]
    return ds1, ds2

ds_thca = processing_ds(thca_url)
ds_lusc = processing_ds(lusc_url)
ds_skcm = processing_ds(skcm_url)
ds_coadread = processing_ds(coadread_url)


'''Patients'''
thca_p = 'TCGA-4C-A93U-01'
lusc_p = 'TCGA-21-5787-01'
skcm_p = 'TCGA-D3-A1Q9-06'
coadread_p = 'TCGA-AA-A01P-01'

20049
20185
20177
17507

## Correlazione

Per ogni coppia di geni, Ã¨ stata calcolata la correlazione tra questi utilizzando la distanza Euclidea.

In [2]:
def correlation(ds, paziente):
    ds = ds[['Entrez_Gene_Id', paziente]]
    n = len(ds)

    correlation_results = []

    for i in range(0, n):
        gene1 = ds.Entrez_Gene_Id[i]
        val1 = ds.loc[i, paziente]

        for j in range(i+1, n):

            gene2 = ds.Entrez_Gene_Id[j]
            val2 = ds.loc[j, paziente]

            # Correlazione tra gene expressions calcolata attraverso distanza euclidea
            correlation = np.sqrt((val1 - val2)**2)

            correlation_results.append({
                'gene_1': gene1,
                'gene_2': gene2,
                'correlazione': correlation
            })

    df = pd.DataFrame(correlation_results)

    return df

In [3]:
df = correlation(ds_thca, thca_p)

:

:

In [ ]:
df.to_csv('correlation_thca_completa.csv', index=False)

In [ ]:
correlation(ds_lusc, lusc_p)
df.to_csv('correlation_lusc_completa.csv', index=False)

       gene_1     gene_2  correlazione
0   100130426  100133144        4.2592
1   100130426  100134869        3.0309
2   100130426      10357        6.0310
3   100130426      10431        5.5156
4   100130426     155060        3.0576
5   100130426      26823        4.7474
6   100130426     280660        5.5270
7   100130426     340602        8.1826
8   100130426     388795        5.1732
9   100133144  100134869        1.2283
10  100133144      10357        1.7718
11  100133144      10431        1.2564
12  100133144     155060        1.2016
13  100133144      26823        0.4882
14  100133144     280660        1.2678
15  100133144     340602        3.9234
16  100133144     388795        0.9140
17  100134869      10357        3.0001
18  100134869      10431        2.4847
19  100134869     155060        0.0267
20  100134869      26823        1.7165
21  100134869     280660        2.4961
22  100134869     340602        5.1517
23  100134869     388795        2.1423
24      10357      10431        0.5154
25      10357     155060        2.9734
26      10357      26823        1.2836
27      10357     280660        0.5040
28      10357     340602        2.1516
29      10357     388795        0.8578
30      10431     155060        2.4580
31      10431      26823        0.7682
32      10431     280660        0.0114
33      10431     340602        2.6670
34      10431     388795        0.3424
35     155060      26823        1.6898
36     155060     280660        2.4694
37     155060     340602        5.1250
38     155060     388795        2.1156
39      26823     280660        0.7796
40      26823     340602        3.4352
41      26823     388795        0.4258
42     280660     340602        2.6556
43     280660     388795        0.3538
44     340602     388795        3.0094

In [ ]:
df = correlation(ds_skcm, skcm_p)
df.to_csv('correlation_skcm_completa.csv', index=False)

       gene_1     gene_2  correlazione
0   100133144  100134869        0.9104
1   100133144      10357        1.1899
2   100133144      10431        1.6573
3   100133144     155060        0.1955
4   100133144     388795        0.2443
5   100133144     390284        0.9356
6   100133144      57714        2.3966
7   100133144     645851        0.6281
8   100133144     653553        0.6660
9   100134869      10357        0.2795
10  100134869      10431        0.7469
11  100134869     155060        0.7149
12  100134869     388795        0.6661
13  100134869     390284        0.0252
14  100134869      57714        1.4862
15  100134869     645851        0.2823
16  100134869     653553        0.2444
17      10357      10431        0.4674
18      10357     155060        0.9944
19      10357     388795        0.9456
20      10357     390284        0.2543
21      10357      57714        1.2067
22      10357     645851        0.5618
23      10357     653553        0.5239
24      10431     155060        1.4618
25      10431     388795        1.4130
26      10431     390284        0.7217
27      10431      57714        0.7393
28      10431     645851        1.0292
29      10431     653553        0.9913
30     155060     388795        0.0488
31     155060     390284        0.7401
32     155060      57714        2.2011
33     155060     645851        0.4326
34     155060     653553        0.4705
35     388795     390284        0.6913
36     388795      57714        2.1523
37     388795     645851        0.3838
38     388795     653553        0.4217
39     390284      57714        1.4610
40     390284     645851        0.3075
41     390284     653553        0.2696
42      57714     645851        1.7685
43      57714     653553        1.7306
44     645851     653553        0.0379

In [ ]:
df = correlation(ds_coadread, coadread_p)
df.to_csv('correlation_coadread_completa.csv', index=False)